@page "/pessoa"
@page "/pessoa/{id:int}"
@page "/pessoa/{id:int}/{action:int}"

@inject IServicoPessoa ServicoPessoa
@using System.ComponentModel.DataAnnotations
@using BFS_SisControl.Shared

@if (Id == null)
{
    <PageTitle>Cadastrar uma pessoa</PageTitle>
    <h3>Cadastrar uma pessoa</h3>
}
else
{
    <PageTitle>Editar @tbPessoas.Nome</PageTitle>
    <h3>Editar @tbPessoas.Nome</h3>
}

<EditForm Model="tbPessoas" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <div>
        <label>Nome</label>
        <InputText id="firstname" @bind-Value="tbPessoas.Nome" class="form-control" />
        <ValidationMessage For="@(() => tbPessoas.Nome)" />
    </div>
    <div>
        <label>Data Nascimento</label>
        <InputDate id="lastname" @bind-Value="tbPessoas.DataNascimento" class="form-control" />
        <ValidationMessage For="@(() => tbPessoas.DataNascimento)" />
    </div>
    <div>
        <label>eMail</label>
        <InputText id="heroname" @bind-Value="tbPessoas.Email" class="form-control" />
        <ValidationMessage For="@(() => tbPessoas.Email)" />
    </div>
    <div>
        <label>Fone</label>
        <InputText id="heroname" @bind-Value="tbPessoas.Fone" class="form-control" />
        <ValidationMessage For="@(() => tbPessoas.Fone)" />
    </div>
    <br />
    @if (Action == null)
    {
        <button type="submit" class="btn btn-primary">@btnText</button>
    }
    @if (Id != null && Action != null)
    {
        <button type="button" class="btn btn-danger" @onclick="DeletePessoa">Deletar Heroi</button>
    }

</EditForm>

@code {
    [Parameter]
    public int? Action { get; set; }
    [Parameter]
    public int? Id { get; set; }
    string btnText => Id == null ? "Salvar Pessoa" : "Atualizar Pessoa";
    private TbPessoa tbPessoas;

    protected override async Task OnInitializedAsync()
    {
            await ServicoPessoa.GetPessoas();
    }

    protected override async Task OnParametersSetAsync()
    {
        tbPessoas = await ServicoPessoa.GetPessoa((int) Id);
    }

    async Task HandleSubmit()
    {
        if (Id == null)
            await ServicoPessoa.CreatePessoa(tbPessoas);
        else
            await ServicoPessoa.UpdatePessoa(tbPessoas);
    }

    async Task DeletePessoa()
    {
        if (Id != null)
            await ServicoPessoa.DeletePessoa(tbPessoas.Id);
    }

}