@page "/pessoa"
@page "/pessoa/{id:int}"
@page "/pessoa/{id:int}/{action:int}"

@inject IServicoPessoa ServicoPessoa
@using System.ComponentModel.DataAnnotations
@using BFS_SisControl.Shared

@if (Id == null)
{
    <PageTitle>Cadastrar uma pessoa</PageTitle>
    <h3>Cadastrar uma pessoa</h3>
}
else
{
    <PageTitle>Editar @pessoa.Nome</PageTitle>
    <h3>Editar @pessoa.Nome</h3>
}

<EditForm Model="pessoa" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <div>
        <label>Nome</label>
        <InputText id="nome" @bind-Value="pessoa.Nome" class="form-control" />
        <ValidationMessage For="@(() => pessoa.Nome)" />
    </div>
    <div>
        <label>Data Nascimento</label>
        <InputDate id="datanascimento" @bind-Value="pessoa.DataNascimento" class="form-control" />
        <ValidationMessage For="@(() => pessoa.DataNascimento)" />
    </div>
    <div>
        <label>eMail</label>
        <InputText id="email" @bind-Value="pessoa.Email" class="form-control" />
        <ValidationMessage For="@(() => pessoa.Email)" />
    </div>
    <div>
        <label>Fone</label>
        <InputText id="fone" @bind-Value="pessoa.Fone" class="form-control" />
        <ValidationMessage For="@(() => pessoa.Fone)" />
    </div>
    <br />
    @if (Action == null)
    {
        <button type="submit" class="btn btn-primary">@btnText</button>
    }
    @if (Id != null && Action != null)
    {
        <button type="button" class="btn btn-danger" @onclick="DeletePessoa">Apagar Cadastro</button>
    }

</EditForm>

@code {
    [Parameter]
    public int? Action { get; set; }
    [Parameter]
    public int? Id { get; set; }
    string btnText => Id == null ? "Salvar" : "Confirmar Alterações";
    private TbPessoa pessoa;

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
            pessoa = new TbPessoa();
        else
            await ServicoPessoa.GetPessoa((int)Id);
    }
    
    protected override async Task OnParametersSetAsync()
    {
        if (Id != null)
            pessoa = await ServicoPessoa.GetPessoa((int)Id);
    }

    async Task HandleSubmit()
    {
        if (Id == null)
            await ServicoPessoa.CreatePessoa(pessoa);
        else
            await ServicoPessoa.UpdatePessoa(pessoa);
    }

    async Task DeletePessoa()
    {
        if (Id != null)
            await ServicoPessoa.DeletePessoa(pessoa.Id);
    }

}